body {
	background: #26263D;
}

.dot {
    border-radius: 50%;
    display: inline-block;
  }
  #fun{
    height: 250px;
    width: 250px;
    position:absolute;
    left:53%;
    top: 36%;
    opacity:70% ;
    background-color: plum;
	  transform: all 0.5s;
  } 
  #fun:hover{
    transform: scale(1.2);
    box-shadow:
     0 0 60px 5px #f8cdf8,
    0 0 100px 10px #dda0dd;
  }

  #spiritual{
    height: 200px;
    width: 200px;
    position:absolute;
    left:55%;
    top: 20%;
    opacity: 70% ;
    background-color: #ffff86;
    animation-name: small;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #spiritual:hover{
    transform: scale(1.2);
    box-shadow:
    0 0 60px 5px #f8f8be,
   0 0 100px 10px #ffff86;
  }
  #calm{
    height: 300px;
    width: 300px;
    position:absolute;
    left:40%;
    top: 20%;
    opacity: 70% ;
    background-color: #e0ffff;
    animation-name: largest;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  } 
#calm:hover{
     transform: scale(1.2);
     box-shadow:
     0 0 60px 5px #e0ffff,
    0 0 100px 10px #9fcaca;
  }

  #confident{
    height: 275px;
    width: 275px;
    position:absolute;
    left:43%;
    top: 40%;
    opacity:70% ;
    background-color: #d3d3d3;
    animation-name: large;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #confident:hover{
    transform: scale(1.2);
    box-shadow:
    0 0 60px 5px #efecec,
   0 0 100px 10px #706f6f;
  }
  #romantic{
    height: 250px;
    width: 250px;
    position:absolute;
    left:30%;
    top: 40%;
    opacity: 70% ;
    background-color: #ffc0cb;
}
  #romantic:hover{
     transform: scale(1.2);
     box-shadow:
     0 0 60px 5px #f7d4d9,
    0 0 100px 10px #ffc0cb;
  }

@keyframes medium {
  0%   {width:250px; height:250px;}
  100%  {width:275px; height:275px;}
}
/* @keyframes full {
  0%   {width:250px; height:250px;}
  100%  {width:1000px; height:1000px;}
}

@keyframes small {
  0%   {width:200px; height:200px;}
  50%  {width:250px; height:250px;}
  100% { width:200px; height:200px;}
}
@keyframes large {
  0%   {width:275px; height:275px;}
  50%  {width:300px; height:300px;}
  100% { width:275px; height:275px;}
}
@keyframes largest {
  0%   {width:300px; height:300px;}
  50%  {width:325px; height:325px;}
  100% { width:300px; height:300px;}
}  */
