
body {
	background: #26263D;
}

.dot {
    border-radius: 50%;
    display: inline-block;
  }
  #fun{
    height: 250px;
    width: 250px;
    position:absolute;
    left:55%;
    top: 40%;
    opacity:70% ;
    background-color: plum;
  } 
  #fun:hover{
    animation-name: medium;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #spiritual{
    height: 200px;
    width: 200px;
    position:absolute;
    left:55%;
    top: 20%;
    opacity: 70% ;
    background-color: rgb(255, 255, 134);
    animation-name: small;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #calm{
    height: 300px;
    width: 300px;
    position:absolute;
    left:40%;
    top: 20%;
    opacity: 70% ;
    background-color: lightcyan;
    animation-name: largest;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #confident{
    height: 275px;
    width: 275px;
    position:absolute;
    left:43%;
    top: 50%;
    opacity:70% ;
    background-color: lightgrey;
    animation-name: large;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #romantic{
    height: 250px;
    width: 250px;
    position:absolute;
    left:30%;
    top: 40%;
    opacity: 70% ;
    background-color: pink;
}

@keyframes medium {
  0%   {width:250px; height:250px;}
  100%  {width:275px; height:275px;}
}
/* @keyframes full {
  0%   {width:250px; height:250px;}
  100%  {width:1000px; height:1000px;}
}

@keyframes small {
  0%   {width:200px; height:200px;}
  50%  {width:250px; height:250px;}
  100% { width:200px; height:200px;}
}
@keyframes large {
  0%   {width:275px; height:275px;}
  50%  {width:300px; height:300px;}
  100% { width:275px; height:275px;}
}
@keyframes largest {
  0%   {width:300px; height:300px;}
  50%  {width:325px; height:325px;}
  100% { width:300px; height:300px;}
}  */
