svg:hover
{
    
    transform:scale(1.5);
    animation: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color:plum;}
    25%  {background-color:powderblue;}
    50%  {background-color:lightcoral;}
    75%  {background-color:lightgreen;}
    100% {background-color:lightgoldenrodyellow;}
  }
  