* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-y: hidden;
  }
  #container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,#1E6FF0, #F0EE7E);
  }

#container-1{
    height: 100vh;
    width: 100wh;
    background-image: linear-gradient(to bottom right,#1E6FF0, #F0EE7E);
  }
  #final{
    height: 100vh;
    width: 100wh;
    background-image: linear-gradient(to bottom right,#1E6FF0, #F0EE7E);
  }
h1{
    margin: auto;
    width: 800px; 
    padding-top: 200px;
   text-align: center;
    font-family: italiana;
    font-weight: 200;
    font-size: 100px;
}
a.subtitle{
    text-decoration: none;
    padding-left: 30%;
}
.subtitle{
    font-family: afacad;
    color: black;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 8px;
}
#container-2{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,#699FE7, #F0EE7E);
  }
  .moods{
    display: flex;
    padding: 10%;
    justify-content: space-around;
  }
a.option{
  text-decoration: none;
  color: black;
}
.feeling{
  font-family: afacad;
  font-size: 25px;
  background-color: #C2D0F4;
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
.feeling:hover{
  background-color: #91acf1;
}
  #container-3{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,#70A3E2, #DAE18F);
  }
  h2{
    margin: auto;
    width: 800px; 
    padding-top: 200px;
   text-align: center;
    font-family: italiana;
    font-weight: 200;
    font-size: 90px;
    
}
a.arrow{
margin-left: 150px;
margin-bottom: 250px;
}
#container-4{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right,#5D98F0, #E5E787);
}
.structure{
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  height: 500px;
}

.carousel {
  margin-bottom: 20px;
}

.card {
  background: hsl(0, 27%, 94%);
  max-width: 200px;
  height: 150px;
  text-align: center;
  margin-left: 172px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-family: italiana;
}

.input-area textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
}

#container-5{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right,#5292F9, #F0EE7E);
}
.dreams{
  display: flex;
  padding: 10%;
  justify-content: space-around;
}
#container-6{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right,#1E6FF0, #F0EE7E);
}

.play{
  margin: auto;
    width: 800px; 
    padding-top: 80px;
   text-align: center;
    font-family: italiana;
    font-weight: 200;
    font-size: 30px;
}
.modelview{
  margin-left: 400px;
}
#car{
  width: 700px;
  height: 300px;
}
.notes{
  margin: auto;
  margin-top: 80px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
}
.text{
   text-align: center;
    font-family: afacad;
    font-weight: 200;
    font-size: 20px;
}
.end{
  margin: auto;
  width: 800px; 
  padding-top: 200px;
 text-align: center;
  font-family: italiana;
  font-weight: 200;
  font-size: 60px;
}
a.reminder{
  text-decoration: none;
  color: black;
  margin-left: 320px;
  text-align: center;
    font-family: afacad;
    font-weight: 200;
    font-size: 30px;
}